@charset "utf-8";
body{
	padding: 0;
	margin: 0;
	background: #ebebeb;
}
header{
	border-bottom: 2px solid #C81623;
}
.cmcm-top{
	width: 100%;
	height: 30px;
	background: #dcdcdc;
	border-bottom: 1px solid #FFFFFF;
}
.cmcm-nav{
	width: 1200px;
	margin: 0 auto;
	height: 30px;
	/*border: solid 1px red;*/
}
.cmcm-nav .cmcm-hygl{
	width: 400px;
	height: 30px;
	float: left;
	font-size: 12px;
	line-height: 30px;
}
.cmcm-nav .cmcm-hygl .cmcm-yyzh{
	padding:0 6px ;
	color: #F22E00!important;
}
.cmcm-nav .cmcm-hygl .cmcm-jrwm{
	color: #3f66f9!important;
}
.cmcm-nav .cmcm-grzx{
	width: 800px;
	height: 30px;
	text-align: right;
	float: right;
}
.cmcm-nav .cmcm-grzx ul{
	height: 16px;
    display: block;
    width: 100%;
    line-height: 16px;
    margin: 0 auto ;
    padding-top: 6px;
}
.cmcm-nav .cmcm-grzx li{
    float: right;
    padding: 0 10px;
    display: block;
    border-right: solid 1px #999999;
    height: 18px;
    font-family: "宋体";
    color: #333;
}
.cmcm-nav .cmcm-grzx li:nth-child(1){
	padding-right: 0;
	border-right: 0;
}
.cmcm-nav .cmcm-grzx .f{
	color: #ff0000;
}
/*
 * logo 
 */
.cmcm-big{
	width: 1200px !important;
	height: 140px;
	background: #FFFFFF;
	margin: 0 auto;
}
.cmcm-logo{
	width: 230px;
	height: 100%;
	float: left;
}
.cmcm-logo img{
	margin-top: 42px;
}
.cmcm-logoright{
	width: 966px;/*970px*/
	height: 100%;
	float: left;
}
.cmcm-big .cmcm-logoright .cmcm-shousuo-box{
	width: 100%;
	height: 90px;
}
.cmcm-form{
	position: relative;
    z-index: 11;
    float: left;
    width: 462px;
    margin-top: 25px;
    margin-left: 100px;
}
.cmcm-form .text{
	float: left;
    width: 370px;
    height: 24px;
    line-height: 24px;
    color: #666;
    padding: 4px;
    margin-bottom: 4px;
    border-width: 2px 0 2px 2px;
    border-color: #B61D1D;
    border-style: solid;
    outline: 0;
    font-size: 14px;
    font-family: "microsoft yahei";
}
.cmcm-form .button{
	float: left;
    width: 82px;
    height: 36px;
    background: #B61D1D;
    border: none;
    line-height: 1;
    color: #fff;
    font-family: "Microsoft YaHei";
    font-size: 16px;
    cursor: pointer;
}
.cmcm-form .button .cw-icon{
	position: relative;
    cursor: default;
    zoom: 1;
}
.cmcm-form .button .cw-icon i{
	top: 0;
    left: 0;
    width: 82px;
    height: 36px;
}
.cm-gwc{
	float: right;
    z-index: 11;
    height: 36px;
    margin-top: 25px;
    margin-right: 65px;
}
.cm-gwc .cw-icon{
	width: 75px;
    height: 34px;
    border: 1px solid #DFDFDF;
    padding: 0 28px 0 36px;
    background: #F9F9F9;
    text-align: center;
    line-height: 34px;
    position: relative;
    cursor: default;
    zoom: 1;
}
.cw-icon i{
	display: block;
    position: absolute;
    overflow: hidden;
}
.ci-left{
	top: 9px;
    left: 18px;
    width: 18px;
    height: 16px;
    background: url(../img/icoimg.png) no-repeat 0 -58px;
}
.ci-right{
	top: 11px;
    right: 10px;
    width: 7px;
    height: 13px;
    overflow: hidden;
    font: 400 13px/13px simsun;
    color: #999;
}
.ci-count{
	position: absolute;
    top: -4px;
    left: 104px;
    display: inline-block;
    padding: 1px 2px;
    font-size: 12px;
    line-height: 12px;
    color: #fff;
    background-color: #c81623;
    border-radius: 7px 7px 7px 0;
    min-width: 12px;
    text-align: center;
}
.cm-hotwords{
	float: left;
    width: 462px;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    margin-left: 100px;
}
.cm-hotwords a{
	float: left;
    white-space: nowrap;
    margin-right: 10px;
}
.cm-hotred{
	color: #FF0000;
}
.cmcm-nav-box ul{
	height: 100%;
	padding-top: 20px;
}
.cmcm-nav-box li{
	float: left;
	padding-right: 50px;
}
.cmcm-nav-box li a{
	font-size: 16px;
	color: #000000;
	font-weight: 600;
}
.cmcm-nav-box .nav-red{
	color: #FF0000;
}
.nav-h{
	position: relative;
}
.nav-h:before{
	content: "H";
    position: absolute;
    overflow: hidden;
    display: inline-block;
    top: -14px;
    left: 60px;
    padding: 1px 2px;
    font-size: 12px;
    line-height: 12px;
    color: #fff;
    background-color: #c81623;
    border-radius: 7px 7px 7px 0;
    min-width: 12px;
    text-align: center;
}
